bg-color = #efefef
navbar-color = #005467

primary-color = #07D0FF
primary-very-dark = #005367
primary-dark = #006D86
primary-light = #74E5FF
primary-very-light = #A6EEFF

accent-color = #FF7F00
accent-very-dark = #A75300
accent-dark = #D96C00
accent-light = #FFB770
accent-very-light = #FFD1A4