<section class="home">
    <article class="hero">
        <div class="title">
            <h1 class="slide">{{ vm.title }}</h1>
        </div>
    </article>
    <article class="newsletter">
        <div class="info news-message">
            <h3>Sign Up for Our Newsletter:</h3>
        </div>
        <div class="info news-input">
            <input class="email-input" id="email-input" type="email" name="email">
        </div>
        <div class="info news-submit">
            <button class="email-submit" type="submit">Submit</button>
        </div>
    </article>
    <article class="not-another-bootcamp">
        <div class="not-another-bootcamp-wrapper">
            <div class="bootcamp-message-wrapper">
                <h2>We're not just another online bootcamp</h2>
                <p class="bootcamp-message">
                    Sed efficitur purus sed mi faucibus cursus placerat id purus. Pellentesque et metus ut erat tristique tempus in nec nisl. Donec id nunc ante. Sed et sagittis metus, eu suscipit dolor. Suspendisse in quam non mi egestas porta. Donec sit amet ipsum pharetra, aliquet justo nec, aliquam leo. Fusce accumsan sollicitudin arcu ac varius. Nulla nec lectus accumsan, vestibulum risus vitae, scelerisque tellus. Praesent eget ipsum at diam fringilla malesuada. Integer at tincidunt mi.
                </p>
            </div>
            <div class="placeholder-one">
                <img src="//placehold.it/250x300" alt="placehold">
            </div>
        </div>
        <div class="benefits-wrapper">
            <div class="benefit-column-1">
                <ul>
                    <li>We've got so many benefits to give you</li>
                    <li>We've got so many benefits to give you</li>
                    <li>We've got so many benefits to give you</li>
                    <li>We've got so many benefits to give you</li>
                </ul>

            </div>
            <div class="benefit-column-2">
                <ul>
                    <li>We take two columns to tell you about them.</li>
                    <li>We take two columns to tell you about them.</li>
                    <li>We take two columns to tell you about them.</li>
                    <li>We take two columns to tell you about them.</li>
                </ul>
            </div>
        </div>
    </article>
    <article class="benefits">

    </article>
    <article class="competitive-advantage">
        <div class="competitive-advantage-wrapper">
            <h2>Gain a Competitive Advantage</h2>
            <p class="advantage-text">
                Sed efficitur purus sed mi faucibus cursus placerat id purus. Pellentesque et metus ut erat tristique tempus in nec nisl. Donec id nunc ante. Sed et sagittis metus, eu suscipit dolor. Suspendisse in quam non mi egestas porta. Donec sit amet ipsum pharetra, aliquet justo nec, aliquam leo. Fusce accumsan sollicitudin arcu ac varius. Nulla nec lectus accumsan, vestibulum risus vitae, scelerisque tellus. Praesent eget ipsum at diam fringilla malesuada. Integer at tincidunt mi.
            </p>
        </div>
    </article>
    <article class="accomplishments">
        <div class="accomplishments-wrapper">
            <div class="accomplishments-header">
                <h2>Accomplishment Badges</h2>
            </div>
            <div class="badges-wrapper">
                <div class="badge">
                    <img src="//placehold.it/100x100" alt="placehold">
                    <p>Some cool text here describing something interesting</p>
                </div>
                <div class="badge">
                    <img src="//placehold.it/100x100" alt="placehold">
                    <p>Some cool text here describing something interesting</p>
                </div>
                <div class="badge">
                    <img src="//placehold.it/100x100" alt="placehold">
                    <p>Some cool text here describing something interesting</p>
                </div>
                <div class="badge">
                    <img src="//placehold.it/100x100" alt="placehold">
                    <p>Some cool text here describing something interesting</p>
                </div>
            </div>
        </div>
    </article>
    <article class="guarantee">
        <div class="guarantee-wrapper">
            <h2>100% Money Back Guarantee</h2>
            <p class="guarantee-message">If you complete the certificate, attend the job prep sessions, and still haven't found a job in the industry within a year, we'll give you your money back! Now, who else offers that?!</p>
        </div>
        <div class="placeholder">
            <img src="//placehold.it/250x300" alt="placehold">
        </div>
    </article>
    <article class="footer">

    </article>
</section>
