<section class="home">
    <article class="hero">
        <div class="title">
            <h1>{{ vm.title }}</h1>
        </div>
    </article>
    <article class="newsletter">
        <div class="info news-message">
            Sign Up for Our Newsletter
        </div>
        <div class="info news-input">
            <input class="email-input" type="email" name="email" placeholder="Send us your email ...">
        </div>
        <div class="info news-submit">
            <button class="email-submit" type="submit">Submit</button>
        </div>
        <div class="exclaimer">
            Exclaimer here about not storing email addresses
        </div>
    </article>
    <article class="not-another-bootcamp">
        <div class="heading">
            <h2>We're not just another online bootcamp</h2>
        </div>
    </article>
    <article class="benefits">
        <div class="benefit-column-1">

        </div>
        <div class="benefit-column-2">

        </div>
    </article>
    <article class="competitive-advantage">
        <div class="advantage-heading">

        </div>
        <div class="advantage-text">

        </div>
    </article>
    <article class="accomplishments">
        <div class="accomplishments-header"></div>
        <div class="badges-wrapper">
            <div class="badge"></div>
            <div class="badge"></div>
            <div class="badge"></div>
            <div class="badge"></div>
        </div>
    </article>
    <article class="guarantee">
        <div class="guarantee-header"></div>
        <div class="guarantee-text"></div>
    </article>
    <footer class="footer">

    </footer>
</section>
