.home
  .hero
    height 400px
    background-color #FF7F00
    *
      color white
    .title
      center(400px)
      text-align center
      h1
        font-size 3rem
        margin 0 auto
      *
        font-weight 300
