.home
  .hero
    height 600px
    background-color alpha(#008888, 30%)
    *
      color white
    .title
      center(600px)
      text-align center
      h1
        font-size 3rem
      *
        font-weight 300
