<section class="home">
    <article class="hero">
        <div class="title">
            <h1 class="slide">{{ vm.title }}</h1>
        </div>
    </article>
    <article class="newsletter">
        <div class="newsletter-wrapper">
            <div class="news-message">
                <h3>Sign Up for Our Newsletter:</h3>
            </div>
            <div class="news-input">
                <input class="email-input" id="email-input" type="email" name="email">
            </div>
            <div class="news-submit" id="news-submit">
                <button class="email-submit" type="submit">Submit</button>
            </div>
        </div>
    </article>
    <article class="not-another-bootcamp">
        <div class="not-another-bootcamp-wrapper">
            <div class="text-wrapper">
                <div class="bootcamp-message-wrapper">
                    <h2>We're not just another <span class="separate-text">online bootcamp</span></h2>
                    <p class="bootcamp-message">
                        Sed efficitur purus sed mi faucibus cursus placerat id purus. Pellentesque et metus ut erat tristique tempus in nec nisl. Donec id nunc ante. Sed et sagittis metus, eu suscipit dolor. Suspendisse in quam non mi egestas porta. Donec sit amet ipsum pharetra, aliquet justo nec, aliquam leo. Fusce accumsan sollicitudin arcu ac varius. Nulla nec lectus accumsan, vestibulum risus vitae, scelerisque tellus. Praesent eget ipsum at diam fringilla malesuada. Integer at tincidunt mi.
                    </p>
                </div>
            </div>
            <div class="benefits-wrapper">
                <div class="benefit-column-1 benefits">
                    Aenean eu diam id ante bibendum congue porttitor non nisi. Praesent facilisis metus purus, at posuere lectus laoreet id.
                </div>
                <div class="benefit-column-2 benefits">
                    Aenean eu diam id ante bibendum congue porttitor non nisi. Praesent facilisis metus purus, at posuere lectus laoreet id.
                </div>
            </div>
        </div>
    </article>
    <article class="benefits">

    </article>
    <article class="competitive-advantage">
        <div class="competitive-advantage-wrapper">
            <h2>Gain a Competitive Advantage</h2>
            <p class="advantage-text">
                Sed efficitur purus sed mi faucibus cursus placerat id purus. Pellentesque et metus ut erat tristique tempus in nec nisl. Donec id nunc ante. Sed et sagittis metus, eu suscipit dolor. Suspendisse in quam non mi egestas porta. Donec sit amet ipsum pharetra, aliquet justo nec, aliquam leo. Fusce accumsan sollicitudin arcu ac varius. Nulla nec lectus accumsan, vestibulum risus vitae, scelerisque tellus. Praesent eget ipsum at diam fringilla malesuada. Integer at tincidunt mi.
            </p>
        </div>
    </article>
    <article class="accomplishments">
        <div class="accomplishments-wrapper">
            <div class="accomplishments-header">
                <h2>Accomplishment Badges</h2>
            </div>
            <div class="badges-wrapper">
                <div class="badge">
                    <img src="//placehold.it/100x100" alt="placehold">
                    <h4>You're Awesome</h4>
                </div>
                <div class="badge">
                    <img src="//placehold.it/100x100" alt="placehold">
                    <h4>You're Awesome</h4>
                </div>
                <div class="badge">
                    <img src="//placehold.it/100x100" alt="placehold">
                    <h4>You're Awesome</h4>
                </div>
                <div class="badge">
                    <img src="//placehold.it/100x100" alt="placehold">
                    <h4>You're Awesome</h4>
                </div>
            </div>
        </div>
    </article>
    <article class="guarantee">
        <div class="guarantee-wrapper">
            <div class="guarantee-message-wrapper">
                <h2>100% Money Back Guarantee</h2>
                <p class="guarantee-message">If you complete the certificate, attend the job prep sessions, and still haven't found a job in the industry within a year, we'll give you your money back!</p>
                <p class="guarantee-message-offer">Now, who else offers that?!</p>
            </div>
        </div>
    </article>
    <article class="footer">
        <div class="footer-wrapper">
            <div class="footer-columns">

            </div>
            <p class="copyright">Copyright © Propel Academy 2015</p>
        </div>
    </article>
</section>
