@import '../../../styles'

.home
  .hero
    center()
    height 400px
    background-color white
    color black
    .title
      text-align center
      overflow hidden
      h1
        font-size 3rem
        margin-top 150px
        font-weight 300

  .newsletter
    center()
    box-sizing border-box
    height 70px
    background-color #FF7F00
    color white
    font-size 1rem
    font-weight 300
    .info
      margin-top 15px
    .news-message
      span(1/4, 1/8)
      padding 4px 0
    .news-input
      span(1/4)
      .email-input
        width 100%
        background-color white
    .news-submit
      span(1/4)
    .exclaimer
      font-size .5rem
      center()
      span(3/4, 1/8)

  .not-another-bootcamp
    center()
    height 200px
    background-color #07D0FF
    color white
    .heading
      text-align center
      overflow hidden
      col(5/8, 1/12)
      h2
        font-size 2rem
        margin-top 40px
        font-weight 300

  .footer
    height 400px
    background-color #2c2c2c


