@import '../styles'
@import url(//fonts.googleapis.com/css?family=Open\+Sans:300,400)
@import url(//fonts.googleapis.com/css?family=Work\+Sans:100)

html
body
  height 100vm

body
  background-color body-bg
  font-family 'Open Sans', sans-serif
  *
    box-sizing border-box
a
  color white
  text-decoration none
  &:visited
    color white
  &:hover
  &:active
    text-decoration none

#app
  header nav
    height navbar-height
    background-color navbar-color
    z-index max-z
    position fixed
    min-width 100%
    padding 20px
    .logo
      span(1/8)
      color white
      font-size 1.2rem
      cursor pointer
    .links
      span(7/8)
      center(600px)
      float right
      *
        font-size 0.9rem
        margin-left: 20px
        cursor pointer
        &:hover
          color accent-light
      .apply
        border 2px solid accent-dark
        padding 5px 10px
        border-radius 5px
        &:hover
          background: accent-dark
          color: white;

  main
    padding-top navbar-height

main
  position relative
  min-height 400px
